### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
migrations

# Environments
.venv
venv/
### Python ###
*.py[cod]
*.pyc

# Python
*/__pycache__/
*.py[cod]
.pyc

# IDE
.idea

